h1{
    font-family: Verdana, sans-serif;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}
h2{
    font-family: Verdana, sans-serif;
    font-size:20px;
    font-weight:bold;
}
h3{
    font-family: Verdana, sans-serif;
    font-size:18px;
    font-weight:normal;
}
ul{
    font-family: Verdana, sans-serif;
    font-size:16px; 
    font-weight: normal;
}
