
h3{text-align: center;
}

p{ font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

#pp1 {
    width: 100%;
    height: auto;
}
#pp1-description {
    text-align: left;
}
#pp2 {
    width: 100%;
    height: auto;
}
#pp2-description {
    text-align: left;
}
#pp3 {
    width: 100%;
    height: auto;
}
#pp3-description {
    text-align: left;
}
#pp4 {
    width: 100%;
    height: auto;
}
#pp4-description {
    text-align: left;
}

li{ font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 1.5;} 
